﻿<%@ Page Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="title" runat="server">
    <h1 class="display-4" runat="server" id="pageTitle">Home</h1>
</asp:Content>