﻿/* FOR OVERWRITING BOOTSTRAP */
body{
    margin: 0;
}
.aspNetHidden{
    display: none;
}

.formInlineList {
    display: flex;
    align-items: center;
    height: calc(2.25rem + 2px);
}
.form-check-inline label {
    margin-bottom: 0;
    margin-left: 5px;
}
.form-check-inline input {
    width: 16px;
    height: 16px;
}

.dataTable {
    width: 100%;
    border: none;
}
.dataTable input {
    background-color: #dc3545;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
}
.dataTable input:hover {
    background-color: #c82333;
}
.dataTable td:last-child {
    text-align: right;
}
.dataTable tr:first-child td {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
}
.dataTable td, .dataTable th {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding: 8px;
}
.dataTable tr:nth-child(even) {
    background-color: rgba(0,0,0,0.05);
}
.dataTable tr:not(:first-child):hover {
    background-color: rgba(0,0,0,0.08);
}

.infoTable td, .infoTable th {
    padding: 8px;
}
.infoTable tr:not(:last-child) td, .infoTable tr:not(:last-child) th {
    border-bottom: 1px solid rgba(0,0,0,0.08);
}
.infoTable {
    border: 1px solid rgba(0,0,0,0.08);
    width: 100%;
    max-width: 400px;
}